@import "tailwindcss";

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  transition: all 0.3s ease;
  cursor: pointer;
}

.animate-heartbeat:hover {
  animation: heartbeat 1.5s infinite ease-in-out;
  filter: drop-shadow(0 0 25px rgba(220, 38, 38, 0.8));
  transform: scale(1.1);
}

:root {
  --background: #131314;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}